dist

# Docker-related files
docker-compose.env
.dockerignore

# Node.js and Composer dependencies
node_modules
vendor

# IDE and editor files
.DS_Store
.idea
.vscode

# Logs, cache, and temporary directories
logs
cache
phpcs-report.xml

# Environment-specific configuration
.env
