# Docker-related files
docker-compose.env
.dockerignore

# Node.js and Composer dependencies
node_modules
vendor

# IDE and editor files
.DS_Store
.idea
.vscode

# Logs, cache, and temporary directories
logs
cache
phpcs-report.xml

# Environment-specific configuration
.env

# Parent theme
/bootscore
bootscore.zip

# Child theme dist files
theme/assets/css/main.css
theme/assets/css/main.css.map
theme/assets/css/editor.css
theme/assets/css/editor.css.map
theme/assets/css/admin.css
theme/assets/css/admin.css.map
